body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.review {
  padding-bottom: 5px;
}
.panel-body.review-container {
  padding-top: 0;
}
.review-header {
  margin-bottom: 10px;
}
.reviewAuthor {
  margin: 0 5px;
}
.reviewTimestamp {
  color: #9e9e9e;
}
.location-map img {
  margin:0 auto;
}

.list-group-item {
  margin-bottom: 15px !important;
}

.page-header {
  margin-top: 55px !important;
}


a {
  color: #00B7FF;
}
