//
   Created by michaelbotes on 2016/11/06.

extends layout

block content
    #banner.page-header
        .row
            .col-md-6.col-sm-12
                h1= title
    .row
        .col-md-6.col-sm-12
            p Loc8r was created to help people find places to sit down and get abit of work done.
            <br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc se lorem ac nisi dignissim accumsan.

