extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Loc8r
          small &nbsp; Find places near you!
    .row
      .col-xs-12.col-sm-8
        .row.list-group
          //new item
          .col-xs-12.list-group-item
            h4
              a(href="/location") Starcups
              small &nbsp;
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 100m
            p.address 125 High Street, Reading, RG6 1ps
            p
              span.label.label-warning Hot Drinks
              &nbsp;
              span.label.label-warning Food
              &nbsp;
              span.label.label-warning Food
              &nbsp;
          //new item
          .col-xs-12.list-group-item
            h4
              a(href="/location") Peanut Butter
              small &nbsp;
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 156m
            p.address 12 Low Street, Movies, RG6 1ps
            p
              span.label.label-warning Movies
              &nbsp;
              span.label.label-warning Drinks
              &nbsp;
              span.label.label-warning Alcohol
              &nbsp;
              span.label.label-warning Food
              &nbsp;
          //new item
          .col-xs-12.list-group-item
            h4
              a(href="/location") Arcade Fire
              small &nbsp;
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
              span.badge.pull-right.badge-default 250m
            p.address 14 Bree Street, Bar, RG6 1ps
            p
              span.label.label-warning Drinks
              &nbsp;
              span.label.label-warning Burgers
              &nbsp;
              span.label.label-warning Alcohol
              &nbsp;
              span.label.label-warning Late hours
              &nbsp;
      .col-xs-12.col-sm-4
        p.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.

